.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: #393e46;
}

h1 {
  margin: 30px;
  font-family: "Lobster", cursive;
  text-shadow: 5px 0 #232931;
  font-size: 4rem;
  color: #4ecca3;
}

p {
  font-size: 2rem;
  color: #4ecca3;
  font-family: "Indie Flower", cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #eeeeee;
  text-align: center;
  font-family: "Indie Flower", cursive;
}
a,
button {
  display: flex;
  justify-content: center;
  margin: 5rem auto;
  cursor: pointer;
  padding: 0.7rem 1.4rem;
  border-radius: 10px;
  border: none;
  color: #555;
  text-decoration: none;
}
.flex-container {
  display: flex;
  justify-content: center;
  gap: 12rem;
}
